<main {MediaWatchWeb.LayoutView.main_css_attributes()}>
  <%= for level <- [:info, :error] do %>
    <p {MediaWatchWeb.LayoutView.flash_css_attributes(level)}><%= get_flash(@conn, level) %></p>
  <% end %>
  <%= @inner_content %>
</main>
