@import "sanitize.css";
@import "reset.css";

@import "layout.css";

@import "admin-toggle.css";
@import "card.css";
@import "card-list.css";
@import "item-list.css";
@import "show-occurrence.css";
@import "show-occurrence-list.css";

@import "pages/changelog.css";
@import "pages/item-index.css";
@import "pages/item.css";
@import "pages/show-occurrence-index.css";
@import "pages/person-index.css";

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: auto;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}

.phx-disconnected *{
  pointer-events: none;
}
