/* This file is for your main application css. */
@import "./phoenix.css";

@import "layout.css";

@import "card.css";
@import "card-list.css";
@import "item-list.css";
@import "occurrence.css";
@import "occurrence-list.css";
@import "person.css";

@import "pages/item-index.css";
@import "pages/item.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}

.phx-disconnected *{
  pointer-events: none;
}

* {
 box-sizing: border-box;
}
