article.card {
  display: grid;
  grid-template-areas: "image header"
  "image content"
  "image footer";
}
article.card.card-text {
  grid-template-areas: "header header"
  "content content"
  "footer footer";
}
article.card.card-image {
  grid-template-areas: "header"
  "image";
  grid-template-columns: min-content;
}

article.card h1 {
  grid-area: header;
  font-size: 1.5em;
}
article.card .content {
  grid-area: content;
  margin: 0 1em;
}
article.card img {
  grid-area: image;
  max-width: 20vw;
  align-self: center;
}
article.card .footer {
  grid-area: footer;
}
