div.invitation {
  position: relative;
}

div.invitation i.status {
  position: absolute;
  top: -1em;
  right: -1em;
  background: white;
  border-radius: 50%;
  color: var(--c-brown);
}

div.invitation.verified i.status {
  color: var(--c-green);
}

