html, body {
  height: 99%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > nav {
  margin-right: auto;
  margin-left: auto;
}

footer > .version {
  font-size: 0.5em;
}
